<nav>
    <ul>
        <a href="/almoxarifado"><li>ALMOXARIFADO</li></a>
        <a href="/patrimonio"><li>PATRIMÔNIO</li></a>
        <a href="/eCozinha"><li>ESTOQUE DA COZINHA</li></a>
        <a href="/eLimpeza"><li>ESTOQUE DA LIMPEZA</li></a>
    </ul>
</nav>