<%- include ('partials/header.ejs') %>
<%- include ('partials/nav.ejs') %>

<main>
    <section class="lastUpdates">
        <div class="almoxarifadoInfos" tabindex="0">
            <a class="title" href="/almoxarifado">
                <h2>Almoxarifado</h2>
                <i class="fas fa-boxes"></i>
            </a>
            <div class="infos">
                <div class="colInfosIndex">
                    <h3>Ultimos pedidos</h3>
                    <form action="#" method="GET">
                        <div class="cardPedidos">
                            <div class="numPedido">
                                <span>#</span>
                                <input type="text" name="numPedido" value="1" disabled>
                            </div>
                            <div class="btnAtender">
                                <input type="submit" value="ATENDER">
                            </div>
                            <div class="pedido">
                                <label for="salaProf">SALA / PROFESSOR(A)</label>
                                <input type="text" name="salaProf" value="JARDIM 2 - B / ROSEMEIRE S. ALMEIDA" disabled>
                                <label for="itemPedido">ITEM PEDIDO</label>
                                <input type="text" name="itemPedido" value="CX DE LÁPIS DE COR COM 24 CORES" disabled>
                                <label for="qtdPedido">QUANTIDADE</label>
                                <input type="text" name="qtdPedido" value="3" disabled>
                                <label for="localItem">LOCALIZAÇÃO</label>
                                <input type="text" name="localItem" value="ARMÁRIO 2 - PRATELEIRA 4" disabled>
                            </div>
                        </div>
                    </form>
                    <form action="#" method="GET">
                        <div class="cardPedidos">
                            <div class="numPedido">
                                <span>#</span>
                                <input type="text" name="numPedido" value="2" disabled>
                            </div>
                            <div class="btnAtender">
                                <input type="submit" value="ATENDER">
                            </div>
                            <div class="pedido">
                                <label for="salaProf">SALA / PROFESSOR(A)</label>
                                <input type="text" name="salaProf" value="JARDIM 2 - B / ROSEMEIRE S. ALMEIDA" disabled>
                                <label for="itemPedido">ITEM PEDIDO</label>
                                <input type="text" name="itemPedido" value="CX DE LÁPIS DE COR COM 24 CORES" disabled>
                                <label for="qtdPedido">QUANTIDADE</label>
                                <input type="text" name="qtdPedido" value="3" disabled>
                                <label for="localItem">LOCALIZAÇÃO</label>
                                <input type="text" name="localItem" value="ARMÁRIO 2 - PRATELEIRA 4" disabled>
                            </div>
                        </div>
                    </form>
                    <form action="#" method="GET">
                        <div class="cardPedidos">
                            <div class="numPedido">
                                <span>#</span>
                                <input type="text" name="numPedido" value="3" disabled>
                            </div>
                            <div class="btnAtender">
                                <input type="submit" value="ATENDER">
                            </div>
                            <div class="pedido">
                                <label for="salaProf">SALA / PROFESSOR(A)</label>
                                <input type="text" name="salaProf" value="JARDIM 2 - B / ROSEMEIRE S. ALMEIDA" disabled>
                                <label for="itemPedido">ITEM PEDIDO</label>
                                <input type="text" name="itemPedido" value="CX DE LÁPIS DE COR COM 24 CORES" disabled>
                                <label for="qtdPedido">QUANTIDADE</label>
                                <input type="text" name="qtdPedido" value="3" disabled>
                                <label for="localItem">LOCALIZAÇÃO</label>
                                <input type="text" name="localItem" value="ARMÁRIO 2 - PRATELEIRA 4" disabled>
                            </div>
                        </div>
                    </form>
                    <a class="verMais" href="/almoxarifado">VER MAIS</a>
                </div>
                <div class="colInfosIndex">
                    <h3>Estoque no fim</h3>
                    <form action="#" method="GET">
                        <div class="cardEstoqueLast">
                            <div class="numItem">
                                <span>#</span>
                                <input type="text" name="idItem" value="1" disabled>
                            </div>
                            <div class="btnAtender">
                                <input type="submit" value="REPOR">
                            </div>
                            <div class="itemEstoque">
                                <label for="itemFalta">ITEM EM FALTA</label>
                                <input type="text" name="itemFalta" value="CX DE LÁPIS DE COR COM 24 CORES" disabled>
                                <label for="qtdAtualItem">QUANTIDADE ATUAL</label>
                                <input type="text" name="qtdAtualItem" value="3" disabled>
                                <label for="lastRepo">ÚLTIMA REPOSIÇÃO</label>
                                <input type="datetime-local" name="lastRepo" value="2024-06-25T13:17" disabled>
                            </div>
                        </div>
                    </form>
                    <form action="#" method="GET">
                        <div class="cardEstoqueLast">
                            <div class="numItem">
                                <span>#</span>
                                <input type="text" name="idItem" value="2" disabled>
                            </div>
                            <div class="btnAtender">
                                <input type="submit" value="REPOR">
                            </div>
                            <div class="itemEstoque">
                                <label for="itemFalta">ITEM EM FALTA</label>
                                <input type="text" name="itemFalta" value="CX DE LÁPIS DE COR COM 24 CORES" disabled>
                                <label for="qtdAtualItem">QUANTIDADE ATUAL</label>
                                <input type="text" name="qtdAtualItem" value="3" disabled>
                                <label for="lastRepo">ÚLTIMA REPOSIÇÃO</label>
                                <input type="datetime-local" name="lastRepo" value="2024-06-25T13:17" disabled>
                            </div>
                        </div>
                    </form>
                    <form action="#" method="GET">
                        <div class="cardEstoqueLast">
                            <div class="numItem">
                                <span>#</span>
                                <input type="text" name="idItem" value="3" disabled>
                            </div>
                            <div class="btnAtender">
                                <input type="submit" value="REPOR">
                            </div>
                            <div class="itemEstoque">
                                <label for="itemFalta">ITEM EM FALTA</label>
                                <input type="text" name="itemFalta" value="CX DE LÁPIS DE COR COM 24 CORES" disabled>
                                <label for="qtdAtualItem">QUANTIDADE ATUAL</label>
                                <input type="text" name="qtdAtualItem" value="3" disabled>
                                <label for="lastRepo">ÚLTIMA REPOSIÇÃO</label>
                                <input type="datetime-local" name="lastRepo" value="2024-06-25T13:17" disabled>
                            </div>
                        </div>
                    </form>
                    <a class="verMais" href="/almoxarifado">VER MAIS</a>
                </div>
            </div>
        </div>
        <div class="eCozinhaInfos" tabindex="0">
            <a class="title" href="/eCozinha">
                <h2>Estoque da cozinha</h2>
                <i class="fas fa-utensils"></i>
            </a>
            <div class="infos">

            </div>
        </div>
        <div class="eLimpezaInfos" tabindex="0">
            <a class="title" href="/eLimpeza">
                <h2>Estoque da limpeza</h2>
                <i class="fas fa-broom"></i>
            </a>
            <div class="infos">

            </div>
        </div>
        <div class="patrimonioInfos" tabindex="0">
            <a class="title" href="/patrimonio">
                <h2>Patrimônio</h2>
                <i class="fas fa-school"></i>
            </a>
            <div class="infos">

            </div>
        </div>
    </section>
    <section class="stats">

    </section>
</main>

<%- include ('partials/footer.ejs') %>