<%- include ('partials/header.ejs') %>
<%- include ('partials/nav.ejs') %>

<main>
    <section class="lastUpdates">
        <div class="almoxarifadoInfos" tabindex="0">
            <a class="title" href="/almoxarifado">
                <h2>Almoxarifado</h2>
                <i class="fas fa-boxes"></i>
            </a>
            <div class="infos">
                <div class="colInfosIndex">
                    <h3>Ultimos pedidos</h3>    
                </div>
                <div class="colInfosIndex">
                    <h3>Estoque no fim</h3>
                </div>
            </div>
        </div>
        <div class="eCozinhaInfos" tabindex="0">
            <a class="title" href="/eCozinha">
                <h2>Estoque da cozinha</h2>
                <i class="fas fa-utensils"></i>
            </a>
            <div class="infos">

            </div>
        </div>
        <div class="eLimpezaInfos" tabindex="0">
            <a class="title" href="/eLimpeza">
                <h2>Estoque da limpeza</h2>
                <i class="fas fa-broom"></i>
            </a>
            <div class="infos">

            </div>
        </div>
        <div class="patrimonioInfos" tabindex="0">
            <a class="title" href="/patrimonio">
                <h2>Patrimônio</h2>
                <i class="fas fa-school"></i>
            </a>
            <div class="infos">

            </div>
        </div>
    </section>
    <section class="stats">

    </section>
</main>

<%- include ('partials/footer.ejs') %>