:root {
    --background: #d8bfd8;
    --colorOne: #ffe1ff;
    --colorTwo:#eed2ee;
    --colorThree:#cdb5cd;
    --colorFour:#8b7b8b;
}

/* ----------\/ HOVER-ACTIVE-FOCUS EFFECTS \/---------- */
nav a:hover, footer a:hover,
.title:hover, .btnAtender input:hover,
.colInfosIndex > .verMais:hover { background: var(--colorTwo); }
nav a:active, footer a:active,
.title:active, .btnAtender input:active,
.colInfosIndex > .verMais:active { background: var(--colorThree); }

.almoxarifadoInfos:focus, .eCozinhaInfos:focus,
.eLimpezaInfos:focus, .patrimonioInfos:focus { box-shadow: 0px 0px 20px 5px var(--colorOne); }

.almoxarifadoInfos:focus > .title, .eCozinhaInfos:focus > .title,
.eLimpezaInfos:focus > .title, .patrimonioInfos:focus > .title { border-left: 3px solid var(--colorOne); }
/* ----------/\ HOVER-ACTIVE-FOCUS EFFECTS /\---------- */

/* ----------\/ SCROLLBAR CUSTOMIZATION \/---------- */
/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px var(--colorOne);
    border-radius: 10px;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--colorFour);
    border-radius: 10px;
}
/* ----------/\ SCROLLBAR CUSTOMIZATION /\---------- */

* {
    margin: 0;
    padding: 0;
}

body {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    font-family: "Staatliches", sans-serif;
    background: var(--background);
    overflow-y: auto;
    overflow-x: hidden;
}

nav {
    position: relative;
    top: 0.5rem;
    width: 95%;
    height: 5rem;
    border-radius: 1rem;
    background: var(--colorOne);
    z-index: 9;
}

nav ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    list-style: none;
}

nav a {
    width: 10rem;
    height: 95%;
    text-align: center;
    align-content: center;
    border-radius: 1rem;
    color: #000000;
    font-size: 1.5rem;
    text-decoration: none;
}

.icon { display: none; } /*Menu responsividade*/

/* ----------\/ INDEX.EJS \/---------- */
main {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 1rem 1.5rem 1rem 1rem;
    display: grid;
    grid-template-rows: 2fr 1fr;
    z-index: 8;
}

.lastUpdates {
    width: 100%;
    height: 100%;
    padding-right: 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    overflow-x: scroll;
    overflow-y: hidden;
}

.lastUpdates a { text-decoration: none; }

.title {
    width: 95%;
    height: 4rem;
    margin: 0.3rem 0 0 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: "Bebas Neue", sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    color: var(--colorOne);
    text-transform: uppercase;
    text-shadow: 3px 1px 5px black;
    border-left: 3px solid #000000;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.title h2 {
    width: 50%;
    height: 100%;
    margin-left: 0.3rem;
    text-align: left;
    align-content: center;
}

.title i {
    width: 10%;
    height: 100%;
    text-align: center;
    align-content: center;
    font-size: 2.5rem;
}

.almoxarifadoInfos {
    width: 50%;
    height: 90%;
    margin: 0 0 0 1rem;
    display: grid;
    grid-template-rows: 1fr 4fr;
    border-radius: 1rem;
    box-shadow: 0px 0px 15px 3px var(--colorFour);
}

.eCozinhaInfos {
    width: 50%;
    height: 90%;
    margin: 0 0 0 3rem;
    display: grid;
    grid-template-rows: 1fr 4fr;
    border-radius: 1rem;
    box-shadow: 0px 0px 15px 3px var(--colorFour);
}

.eLimpezaInfos {
    width: 50%;
    height: 90%;
    margin: 0 0 0 3rem;
    display: grid;
    grid-template-rows: 1fr 4fr;
    border-radius: 1rem;
    box-shadow: 0px 0px 15px 3px var(--colorFour);
}

.patrimonioInfos {
    width: 50%;
    height: 90%;
    margin: 0 0 0 3rem;
    display: grid;
    grid-template-rows: 1fr 4fr;
    border-radius: 1rem;
    box-shadow: 0px 0px 15px 3px var(--colorFour);
}

.infos {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.colInfosIndex {
    width: 50%;
    height: 65%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    overflow-y: scroll;
}

.colInfosIndex h3 {
    width: 100%;
    height: 2rem;
    font-size: 1.2rem;
    text-align: center;
    align-content: center;
}

.colInfosIndex form {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
}

.colInfosIndex > .verMais {
    width: 50%;
    height: 8%;
    font-size: 1.3rem;
    text-align: center;
    align-content: center;
    border-radius: 1rem;
    border: 2px solid #000000;
    color: #000000;
    background: var(--colorOne);
}

.cardPedidos, .cardEstoqueLast {
    width: 95%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 1rem;
    background: var(--colorOne);
}

.cardPedidos input, .cardEstoqueLast input {
    background: none;
    border: none;
}

.numPedido, .numItem {
    width: 100%;
    height: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
}

.numPedido span, .numItem span {
    height: 100%;
    width: 10%;
    font-size: 2rem;
    text-align: end;
    align-content: center;
}

.numPedido input, .numItem input {
    width: 37%;
    height: 100%;
    font-size: 1.3rem;
    text-align: left;
    color: #ff0000;
}

.btnAtender {
    width: 30%;
    height: 10rem;
    display: flex;
}

.btnAtender input {
    width: 100%;
    height: 100%;
    text-align: center;
    align-content: center;
    font-size: 1.5rem;
    font-family: "Staatliches", sans-serif;
    font-weight: bold;
    color: #000000;
    text-shadow: 3px 1px 4px var(--background);
    border-bottom-left-radius: 1rem;
}

.pedido, .itemEstoque {
    width: 70%;
    height: 10rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.pedido label, .pedido input,
.itemEstoque label, .itemEstoque input {
    width: 100%;
    align-content: center;
    color: #000000;
}

.stats {
    width: 100%;
    height: 100%;
    padding-right: 1rem;
}
/* ----------/\ INDEX.EJS /\---------- */
/* ----------\/ ALMOXARIFADO.EJS \/---------- */
.mainAlmoxarifado {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 1rem 1.5rem 1rem 1rem;
    display: grid;
    grid-template-rows: 2fr 1fr;
    z-index: 8;
}

.mainAlmoxarifado h1 {
    width: 100%;
    height: 10rem;
    font-size: 3.5rem;
    font-weight: bold;
    font-family: "Bebas Neue", sans-serif;
    color: var(--colorOne);
    text-shadow: 3px 1px 5px black;
}


/* ----------/\ ALMOXARIFADO.JS /\---------- */

footer {
    position: relative;
    width: 100%;
    height: 10rem;
    display: flex;
    background: var(--colorFour);
    z-index: 9;
}

footer ul {
    width: 10%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    text-align: center;
    list-style: none;
}

footer li { padding-right: 0.5rem; }

footer a {
    width: 100%;
    height: 15%;
    text-align: end;
    align-content: center;
    border-radius: 1rem;
    color: #000000;
    font-size: 1rem;
    text-decoration: none;
}

footer span {
    width: 90%;
    height: 100%;
    font-size: 1.5rem;
    text-align: center;
    align-content: center;
}

/* ----------\/ RESPONSIVIDADE \/---------- */

@media (width < 955px) {
    .almoxarifadoInfos, .eCozinhaInfos,
    .eLimpezaInfos, .patrimonioInfos { width: 45rem;}

    footer ul { display: none; }
    footer span { width: 100%; }
}

@media (width < 700px) { 
    nav {
        width: 12%;
        right: 18rem;
    }

    /*Menu responsividade*/
    .icon {
        width: 100%;
        height: 100%;
        display: block;
        text-align: center;
    }

    nav ul {
        width: 15rem;
        height: 15rem;
        display: none;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-content: flex-start;
        border-radius: 1rem;
        background: var(--colorThree);
    }

    nav a {
        width: 15rem;
        height: 25%;
        text-align: left;
    }

    nav li { padding-left: 0.5rem; }
}

@media (width < 500px) { 
    nav {
        width: 15%;
        right: 13rem;
    }
}

@media (width < 426px) { 
    nav {
        width: 20%;
        right: 10rem;
    }
}

@media (width < 376px) {
    nav {
        width: 20%;
        right: 8rem;
    }
}

/* ----------/\ RESPONSIVIDADE /\---------- */